@font-face {
  font-family: lato;
  src: url(./Lato/Lato-Regular.ttf);
}

@font-face {
  font-family: "Italianno";
  src: url(./Italianno-Regular.ttf);
}
$desktop-width: 1200px;
$tablet-width: 768px;
$mobile-width: 420px;
@mixin mobile {
  @media (max-width: #{$mobile-width}) {
    @content;
  }
}
@mixin tablet {
  @media (max-width: #{$tablet-width}) {
    @content;
  }
}
@mixin large {
  @media (max-width: #{$desktop-width}) {
    @content;
  }
}

body {
  box-sizing: border-box;
  background-image: url(./carbonBG.jpg);
  background-size: cover;
  margin: 0;
  padding: 64px 80px;
  > * {
    box-sizing: border-box;
  }
}
header {
  max-width: 1284px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  nav {
    svg {
      fill: #fff;
      width: 32px;
      height: 32px;
    }
  }
  .logoHome {
    white-space: nowrap;
    color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: lato;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.085em;
    svg {
      fill: #6b6b6b;
      width: 21px;
      height: 16px;
      margin-left: 9px;
    }
  }
}
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
