$tablet-width: 768px;
$desktop-width: 1024px;
$mobile-width: 420px;
$test: red;

@mixin mobile {
  @media (max-width: #{$mobile-width}) {
    @content;
  }
}
@mixin tablet {
  @media (min-width: #{$tablet-width}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}
@font-face {
  font-family: "BebasNeue-Regular";
  src: url(../assets/Bebas_Neue/BebasNeue-Regular.ttf);
}
@font-face {
  font-family: "Roboto-Regular";
  src: url(../assets/Roboto/Roboto-Regular.ttf);
}
@font-face {
  font-family: "Roboto-BoldItalic";
  src: url(../assets/Roboto/Roboto-BoldItalic.ttf);
}
@font-face {
  font-family: "Nunito-ExtraBold";
  src: url(../assets/Nunito/Nunito-ExtraBold.ttf);
}

@font-face {
  font-family: "Roboto-Medium";
  src: url(../assets/Roboto/Roboto-Medium.ttf);
}
