.floorPlan {
  background-image: url("https://images.pexels.com/photos/918302/pexels-photo-918302.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  width: 100%;
}
