@import "../assets/main.scss";
.brandLogo {
  width: 322px;
  height: 182px;
  margin-top: -32px;
  background-image: url(../assets/ducati_monster.png);
  background-size: contain;
  background-repeat: no-repeat;
  @include tablet() {
    margin-top: 10px;
    transition: 500ms;
  }
}

.motoDisplay {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  max-width: 1060px;
  height: 650px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  margin: 0 auto -200px auto;
  position: relative;
  z-index: 2;
  svg {
    fill: #fff;
    width: 70px;
    height: 70px;
    @include tablet() {
      width: 32px;
      height: 32px;
    }
  }
  @include large() {
    height: 550px;
    transition: 500ms;
  }

  @include tablet() {
    height: 365px;
    margin-bottom: -150px;
    transition: 500ms;
  }
}

.details {
  align-self: center;
  box-sizing: border-box;
  padding: 70px 80px 70px 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  top: auto;
  background-color: #fff;
  max-width: 1440px;
  width: 100%;
  box-shadow: 0px 40px 30px rgba(60, 49, 13, 0.15);
  border-radius: 50px;
  margin: 0 auto;
  z-index: 1;
  margin-bottom: 80px;
  transition: 500ms;
  @include large() {
    padding-top: 110px;
  }
  @include tablet() {
    padding: 110px 40px 35px 40px;
  }
  .generalInfo {
    display: flex;
    flex-direction: column;
    height: fit-content;
    p {
      margin: 0;
      white-space: nowrap;
    }
    p:nth-child(odd) {
      font-family: Lato;
      font-style: normal;
      font-weight: 300;
      font-size: 12px;
      line-height: 14px;
      color: #181818;
    }

    p:nth-child(even) {
      font-family: Lato;
      font-style: normal;
      font-weight: 900;
      font-size: 24px;
      line-height: 29px;
      letter-spacing: 0.095em;
      color: #181818;
      margin-bottom: 11px;
      transition: 500ms;
      @include tablet() {
        letter-spacing: 0;
        line-height: 18px;
        font-size: 15px;
      }
    }
  }
}
.rightContent {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  width: 70%;
  transition: 500ms;
  @include large() {
    flex-direction: column;
    justify-content: flex-end;
    gap: 20px;
    align-items: center;
  }
  @include tablet() {
    justify-content: center;
  }
}
.colorAvailable {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 385px;
  gap: 10px;
  transition: 500ms;
  @include tablet() {
    justify-content: space-between;
  }
  .colorSquare {
    width: 80px;
    height: 80px;
    border-radius: 10px;
    transition: 500ms;
    filter: drop-shadow(0px 4px 16px rgba(0, 0, 0, 0.15));
    @include tablet() {
      width: 40px;
      height: 40px;
    }
  }
}
.Detail__desc {
  align-self: flex-end;
  font-family: "Italianno";
  font-style: normal;
  font-weight: normal;
  max-width: 341px;
  width: 100%;
  margin: 0;
  @include tablet() {
    align-self: center;
    max-width: 150px;
  }
  p {
    margin: 0;
    font-size: 50px;
    line-height: 40px;
    letter-spacing: 0.135em;
    transition: 500ms;
    &:last-child {
      text-align: right;
    }
    @include tablet() {
      font-size: 25px;
      letter-spacing: 0.05em;
      line-height: 20px;
    }
  }
}

@keyframes hoverLeft {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-10px);
  }
}
@keyframes hoverRight {
  from {
    transform: translateX();
  }
  to {
    transform: translateX(+10px);
  }
}
.hoverLeft {
  transition: 1s;
  &:hover {
    animation: hoverLeft alternate-reverse 500ms infinite forwards
      cubic-bezier(0.88, 0.07, 0.56, 0.94);
    transition: 1s;
  }
}
.hoverRight {
  transition: 1s;
  &:hover {
    animation: hoverLeft alternate-reverse 500ms infinite forwards
      cubic-bezier(0.88, 0.07, 0.56, 0.94);
    transition: 1s;
  }
}
