@import "../assets/shared.scss";
.brandLogo {
  width: 322px;
  height: 182px;
  margin: 0 auto;
  margin-top: -32px;
  background-image: url(../assets/ducati_monster.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.motoDisplay {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  max-width: 1060px;
  height: 650px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  width: 100%;
  margin: 0 auto -200px auto;
  position: relative;
  z-index: 2;
  @media (max-width: 1370px) {
    // max-width: 850px;
  }
  @include tablet() {
    margin-bottom: -100px;
  }
  svg {
    fill: #fff;
    width: 70px;
    height: 70px;
  }
}

.details {
  align-self: center;
  box-sizing: border-box;
  padding: 44px 80px 70px 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  top: auto;
  background-color: #fff;
  max-width: 1440px;
  width: 100%;
  box-shadow: 0px 40px 30px rgba(60, 49, 13, 0.15);
  border-radius: 50px;
  margin: 0 auto;
  z-index: 1;
  margin-bottom: 80px;
  @include large() {
    padding-top: 170px;
  }
  .generalInfo {
    display: flex;
    flex-direction: column;
    height: fit-content;
    p {
      margin: 0;
    }
    p:nth-child(odd) {
      font-family: Lato;
      font-style: normal;
      font-weight: 300;
      font-size: 12px;
      line-height: 14px;
      color: #181818;
      @include tablet() {
        font-size: 9px;
      }
    }

    p:nth-child(even) {
      font-family: Lato;
      font-style: normal;
      font-weight: 900;
      font-size: 24px;
      line-height: 29px;
      letter-spacing: 0.095em;
      color: #181818;
      margin-bottom: 11px;
      @include tablet() {
        font-size: 12px;
      }
    }
  }
}
.rightContent {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  width: 70%;
  @include large() {
    flex-direction: column;
    justify-content: center;
    gap: 30px;
  }
}
.colorAvailable {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 385px;
  width: 50%;
  @include large() {
    width: 80%;
  }
  .colorSquare {
    width: 80px;
    height: 80px;
    border-radius: 10px;
    filter: drop-shadow(0px 4px 16px rgba(0, 0, 0, 0.15));
  }
}
.Detail__desc {
  align-self: flex-end;
  font-family: "Italianno";
  font-style: normal;
  font-weight: normal;
  max-width: 341px;
  width: 100%;
  margin: 0;
  p {
    margin: 0;
    font-size: 50px;
    line-height: 40px;
    letter-spacing: 0.135em;

    &:last-child {
      text-align: right;
    }
  }

  @include tablet() {
    font-size: 25px;
  }
}
